<p *ngIf="!($books | async)">loading books...</p>
<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" *ngFor="let book of $books | async">
<mat-expansion-panel-header>
<mat-panel-title>
{{book.title}}
</mat-panel-title>
</mat-expansion-panel-header>
<p> by {{book.author}} <button mat-raised-button color="primary" (click) = deleteBook(book.id)>Delete</button> 
                       <button mat-raised-button color="primary" [routerLink]="'/bookform/'+book.id">Edit</button>
</p>
</mat-expansion-panel>
</mat-accordion>
<br>
<a routerLink="/bookform" routerLinkActive="active">Add new book</a>