<mat-card>
    <h1>Edit The Author</h1>
    <form #editForm="ngForm" (ngSubmit)="onSubmitEditAuthor()">
      <div class="example-container">
        <mat-form-field>
         <input matInput [(ngModel)] = "authorsEdit" name = "authorsEdit"
                           required
                          #editauthor = "ngModel">
          <mat-error *ngIf="!(editauthor.valid || editauthor.pristine)">
            Author is required
          </mat-error>                        
        </mat-form-field>
        <div>
           <button mat-raised-button color="primary" [disabled]="!editForm.form.valid">Update</button>
        </div>
     </div>
    </form>
</mat-card>