<mat-card>
    <h1>{{buttonText}}</h1>
    <form #addbook="ngForm" (ngSubmit)="onSubmitAddBook()">
      <div class="example-container">
        <mat-form-field>
         <input matInput [(ngModel)] = "title" name = "title" placeholder="Name"
                           required
                          #bookTitle = "ngModel">
          <mat-error *ngIf="!(bookTitle.valid || bookTitle.pristine)">
            Title of the book is required
          </mat-error>                        
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput [(ngModel)] = "author" name = "author" placeholder="Author"
                              required
                             #bookAuthor = "ngModel">
             <mat-error *ngIf="!(bookAuthor.valid || bookAuthor.pristine)">
               Author of the book is required
             </mat-error>                        
           </mat-form-field>
        <div>
           <button mat-raised-button color="primary" [disabled]="!addbook.form.valid">{{buttonText}}</button>
           <button mat-raised-button [routerLink]="'/books'" >Cancel</button>
        </div>
     </div>
    </form>
</mat-card>