<br>
<button mat-raised-button color="primary" (click)="saveToFirestore()">Save to fireStore</button>
<br>
<br>
<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" *ngFor="let post of $Posts">
<mat-expansion-panel-header>
<mat-panel-title>
{{post.title}}
</mat-panel-title>
</mat-expansion-panel-header>
{{post.body}}
<div *ngFor = "let user of $Users">
    <div *ngIf = "user.id == post.userId">Writer {{user.name}}</div>
</div>
</mat-expansion-panel>
</mat-accordion>