<p *ngIf="!($FBPosts | async)">loading posts...</p>
<button mat-raised-button color="primary" routerLink="/postform">Add new post</button>
<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" *ngFor="let FBpost of $FBPosts | async">
<mat-expansion-panel-header>
<mat-panel-title>
{{FBpost.title}}
</mat-panel-title>
</mat-expansion-panel-header>
{{FBpost.body}} Writer {{FBpost.username}} <button mat-raised-button color="primary" (click) = deletePost(FBpost.id)>Delete</button> 
                                           <button mat-raised-button color="primary" [routerLink]="'/postform/'+FBpost.id">Edit</button>
</mat-expansion-panel>
</mat-accordion>