<mat-card>
    <h1>Temperature Form</h1>
    <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <mat-select placeholder="City" [(ngModel)] = "city" name = "city">
            <mat-option *ngFor = "let city of cities" [value]="city.name">{{city.name}}</mat-option>
          </mat-select>
       </mat-form-field>
        <div >
           <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Submit</button>
        </div>
     </div>
    </form>
</mat-card>